*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}
#App{
     width: 100vw;
     height: 100vh;
    overflow: hidden;
}
#slider {
     background-color: red;
     padding: 5px;
     display: flex;
     width: fit-content;
}

.item{

     min-width: 200px;
     height: 250px;
     background-color: blue;
     margin: 10px;

     /* background image sizig  */
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;


     /* box shadow */
     box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
     border-radius: 5px;

}